
.table .thead-light-dark th {
    color: #fff;
    background-color: #555d66;
    border-color: #454d55;
}

.page-table-title{
    font-size: 23px;
    font-weight: bold;
}

.test-border{
    border: solid 1px black;
}


.main-session-titles{
    font-weight: 500;
    color: #343a40;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
}

.hall-town-health-unit-titles{
    color: #656966 !important;
    font-size: 15px;
}

.exams-title{
    color: #515452 !important;
    font-size: 15px;
}


.btn-green-alternative{
    color: white !important;
    background-color: #74ab86 !important;
    border: solid 1px darkgrey;
}

.btn-danger-alternative{
    color: white !important;
    background-color: #f0545f !important;
    border: none !important;
}

.btn-info-alternative{
    color: white !important;
    background-color: #66a4d4 !important;
    border: none !important;
}
.btn-warning-alternative{
    color: white !important;
    background-color: #e6ab2c !important;
    border: none !important;
}

.strippedAdminLine{
    background: #fcfcfc; border-radius: 5px;
}


.no-content-warning{
    color: #c4a664;
}

.red-error-color{
    color: #B45B59 !important;
}


.font-size-10px{
    font-size: 10px !important;
}


.font-size-11px{
    font-size: 11px !important;
}

.font-size-12px{
    font-size: 12px !important;
}


.font-size-13px{
    font-size: 13px !important;
}


.font-size-14px{
    font-size: 14px !important;
}


.font-size-15px{
    font-size: 15px !important;
}


.font-size-16px{
    font-size: 16px !important;
}


.font-size-17px{
    font-size: 17px !important;
}

.font-size-18px{
    font-size: 18px !important;
}

.font-size-19px{
    font-size: 19px !important;
}

.border-solid-1px-black{
    border: solid 1px black;
}

.max-width-100pct{
    max-width: 100%;
}
.max-width-150px{
    max-width: 150px;
}

@media (max-width: 1200px) {

    .content-head-title-breadcumb-reverse {
        flex-direction: column-reverse;
    }

    .pageTitle{
        padding-bottom: 40px;

    }

}


.page-item.active .page-link {
    background-color: #64659D;
    border-color: #64659D;
}

.page-link {
    color: #64659D;
}

.select2-selection {
    min-height: 31px !important;
    border: solid 1px #8862E0 !important;
}
